/* Общие стили для текста и фона */
body {
    background: #333; /* Темный фон для всей страницы */
    color: white; /* Белый текст на темном фоне */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    min-height: 100vh; /* Минимальная высота страницы */
    justify-content: center; /* Центрирование содержимого по вертикали */
  }
  
  /* Стили для заголовков */
  h1, h3 {
    text-align: center;
  }
  
  /* Стили для форм и кнопок */
  button, input[type=submit], .btn_like, .btn_not_like {
    cursor: pointer;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: #555;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover, input[type=submit]:hover {
    background-color: #666;
  }
  
  /* Стили для ссылок */
  a, .delete1 {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover, .delete1:hover {
    color: #66aaff;
  }
  
  /* Стили для контейнера с содержимым поста */
  .post-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  /* Стили для отображения категорий */
  .categories span {
    background: #555;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  /* Стили для комментариев */
  .comment {
    margin-top: 20px;
    padding: 15px;
    background: #444; /* Немного более светлый фон для комментариев */
    border-radius: 8px;
  }
  
  .comment h3 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  /* Стили для иконок лайка и дизлайка */
  .btn_like, .btn_not_like {
    width: 24px; /* Примерный размер иконок */
    height: 24px;
    margin-right: 5px;
  }
  
  /* Адаптация под мобильные устройства */
  @media screen and (max-width: 600px) {
    .post-content, .comment {
      margin: 10px;
      padding: 10px;
    }
  }
  
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
