body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000000df;
}

.header {
  background: #000000df;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border-bottom: 2px solid #444;
}

.header__left {
  flex: 1;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__logo  {
 color: white;
}
.header__search {
  flex: 2; /* Позволяет поисковой строке быть шире */
  display: flex;
  justify-content: center; /* Центрирование поисковой строки */
}

.header .header__search input[type="search"] {
  width: 35%;
  padding: 20px 20px; /* Увеличиваем паддинг для поля поиска */
  border-radius: 100px; /* Делаем поле поиска более круглым */
  background-color: #f8f9fa22;
  color: #ffffff;

}

.header .header__search input[type="search"]:hover {
  background-color: rgba(255, 255, 255, 0.169); /* Увеличиваем непрозрачность при наведении */
  transition: background-color 0.5s; /* Плавное изменение за 0.3 секунды */
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  border: none; /* Убирает границу */
  outline: none; /* Убирает фокусную рамку, которая может появляться при клике */
  /* Остальные стили для поля ввода */
  font-size: 19px;
}

.header__buttons {
  display: flex;
  justify-content: flex-end; /* Выравнивание кнопок по правому краю */
}
.fake-button {
  background-color: #f8f9fa22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Делает края кнопки круглыми */
  cursor: not-allowed; /* Показывает курсор в виде знака запрета */
  position: relative; /* Для позиционирования псевдоэлемента */
}
.fake-button:after {
  content: 'Fake button for project';
  display: none;
  position: absolute;
  top: 100%; /* Располагаем текст под кнопкой */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  white-space: nowrap;
  z-index: 1; /* Гарантируем, что текст будет поверх других элементов */
}
.fake-button:hover:after, .fake-button:focus:after {
  display: block; /* Показываем текст при наведении или фокусе */
}
.button {
  background-color:  #000000df; 
  color: #ffffff;
  border: none;
  padding: 20px 20px; /* Увеличиваем паддинг для кнопок */
  border-radius: 100px; /* Делаем кнопки более круглыми */
  margin-left: 10px;
  cursor: pointer;
  font-size: 32px;
}

.button:hover, .button:focus {
  opacity: 0.9; /* Немного меняем прозрачность при наведении/фокусе */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.169); /* Делаем фон кнопок темнее при наведении */
  transition: background-color 0.5s; /* Плавное изменение за 0.3 секунды */
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.icon-button img {
  height: 60px; /* Или другой размер, который вам подходит */
}

.user-avatar {
  border-radius: 50%; /* Делаем аватар круглым */
  margin-left: 10px;
}

.dropdown-arrow {
  margin-left: 5px;
  /* Другие стили для стрелки выпадающего списка, если нужны */
}

/* Стили для эффекта наведения */
.icon-button:hover, .profile-menu:hover {
  background: rgba(192, 192, 192, 0.1);
  border-radius: 4px;
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #1a1a1b;
  color: #d7dadc;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item, .nested-item {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  position: relative;
  border-bottom: 1px solid #343536;
}

.menu-item::after, .nested-item::after {
  content: '▼';
  float: right;
}

.toggle-checkbox:checked + label.menu-item::after,
.toggle-checkbox:checked + label.nested-item::after {
  content: '▲';
}

.nested-menu, .nested-submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px; /* Отступ для вложенных меню */
}

.toggle-checkbox:checked + label + .nested-menu,
.toggle-checkbox:checked + label + .nested-submenu {
  display: block; /* Показываем вложенное меню при активации чекбокса */
}

.nested-menu a, .nested-submenu a {
  display: block;
  color: #d7dadc;
  text-decoration: none;
  padding: 8px 20px;
}

.nested-menu a:hover, .nested-submenu a:hover {
  color: #ffffff;
  background-color: #343536;
}

/* Используем тот же оверлей, что и для окна входа */
#signin-modal-toggle:checked ~ .modal-overlay,
#create-post-modal-toggle:checked ~ .modal-overlay {
  display: block;
}

/* Общий оверлей для всех модальных окон */
.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

/* Стили модального окна для создания поста */
.modal-content {
  background-color: #474747; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 20px; /* Внутренние отступы */
  width: 30%; /* Ширина модального окна */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для 3D-эффекта */
  border-radius: 8px; /* Скругленные углы */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  /* Добавьте здесь остальные стили, например, размеры, padding, фон и т.д. */
}

/* Стилизация полей ввода и текстовых областей */
.modal-content input[type="text"],
.modal-content textarea {
  background-color: #fff; /* Белый фон */
  border: 1px solid #ccc; /* Граница */
  border-radius: 4px; /* Скругление углов */
  padding: 10px; /* Внутренний отступ */
  margin-top: 10px; /* Отступ сверху */
}

/* Стилизация кнопки отправки формы */
.modal-content form button {
background-color: #1a1a1b; /* Цвет фона кнопки */
color: #d7dadc; /* Цвет текста кнопки */
border: none;
border-radius: 4px;
padding: 10px 15px;
text-transform: uppercase; /* Большие буквы */
font-weight: bold; /* Жирный текст */
margin-top: 15px; /* Отступ сверху */
cursor: pointer; /* Курсор в виде указателя */
}

/* Стилизация кнопки при наведении */
.modal-content form button:hover {
background-color: #272729; /* Слегка осветлить фон при наведении */
}

/* Стиль для закрывающей кнопки (крестик) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Показываем модальное окно при активном чекбоксе */
#create-post-modal-toggle:checked ~ .modal-overlay,
#create-post-modal-toggle:checked ~ .modal-content {
  display: block;
}

/* Стили для формы в модальном окне создания поста */
#create-post-modal-content form label {
  display: block;
  margin-top: 10px;
}

#create-post-modal-content form input,
#create-post-modal-content form textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
}

#create-post-modal-content form button {
  display: block;
  width: 100%;
  margin-top: 20px;
}
