body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000000df;
}

.header {
  background: #000000df;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border-bottom: 2px solid #444;
}

.header__left, .header__right {
  flex: 1;
}

.header__logo  {
  height: 50px;
  color: #f8f9fa; /* Задаем высоту вашему логотипу */
}
.header__search {
  flex: 2; /* Позволяет поисковой строке быть шире */
  display: flex;
  justify-content: center; /* Центрирование поисковой строки */
}

.header .header__search input[type="search"] {
  width: 35%;
  padding: 20px 20px; /* Увеличиваем паддинг для поля поиска */
  border-radius: 100px; /* Делаем поле поиска более круглым */
  background-color: #f8f9fa22;
  color: #ffffff;

}

.header .header__search input[type="search"]:hover {
  background-color: rgba(255, 255, 255, 0.169); /* Увеличиваем непрозрачность при наведении */
  transition: background-color 0.5s; /* Плавное изменение за 0.3 секунды */
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  border: none; /* Убирает границу */
  outline: none; /* Убирает фокусную рамку, которая может появляться при клике */
  /* Остальные стили для поля ввода */
  font-size: 19px;
}

.header__buttons {
  display: flex;
  justify-content: flex-end; /* Выравнивание кнопок по правому краю */
}
.fake-button {
  background-color: #f8f9fa22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Делает края кнопки круглыми */
  cursor: not-allowed; /* Показывает курсор в виде знака запрета */
  position: relative; /* Для позиционирования псевдоэлемента */
}
.fake-button:after {
  content: 'Fake button for project';
  display: none;
  position: absolute;
  top: 100%; /* Располагаем текст под кнопкой */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  white-space: nowrap;
  z-index: 1; /* Гарантируем, что текст будет поверх других элементов */
}
.fake-button:hover:after, .fake-button:focus:after {
  display: block; /* Показываем текст при наведении или фокусе */
}
.button {
  background-color:  #000000df; 
  color: #ffffff;
  border: none;
  padding: 20px 20px; /* Увеличиваем паддинг для кнопок */
  border-radius: 100px; /* Делаем кнопки более круглыми */
  margin-left: 10px;
  cursor: pointer;
  font-size: 32px;
}

.button:hover, .button:focus {
  opacity: 0.9; /* Немного меняем прозрачность при наведении/фокусе */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.169); /* Делаем фон кнопок темнее при наведении */
  transition: background-color 0.5s; /* Плавное изменение за 0.3 секунды */
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #1a1a1b;
  color: #d7dadc;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item, .nested-item {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  position: relative;
  border-bottom: 1px solid #343536;
}

.menu-item::after, .nested-item::after {
  content: '▼';
  float: right;
}

.toggle-checkbox:checked + label.menu-item::after,
.toggle-checkbox:checked + label.nested-item::after {
  content: '▲';
}

.nested-menu, .nested-submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px; /* Отступ для вложенных меню */
}

.toggle-checkbox:checked + label + .nested-menu,
.toggle-checkbox:checked + label + .nested-submenu {
  display: block; /* Показываем вложенное меню при активации чекбокса */
}

.nested-menu a, .nested-submenu a {
  display: block;
  color: #d7dadc;
  text-decoration: none;
  padding: 8px 20px;
}

.nested-menu a:hover, .nested-submenu a:hover {
  color: #ffffff;
  background-color: #343536;
}
