body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #fff;
  }
  
  .auth-container {
    width: 100%;
    max-width: 360px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .auth-logo h1 {
    font-size: 6rem;
  }
  
  .form-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .form-subtitle {
    margin-bottom: 2rem;
  }
  
  .auth-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .auth-action {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-action:first-child {
    margin-left: 0;
  }
  
  .auth-action:last-child {
    margin-right: 0;
  }