<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="stylesheet" href="../static/create_post.css">
    <title>Forum</title>
</head>
<body>
    <header class="header"> 
        <div class="header_logo">
            <a href="/">
                <img src="/web/static/icon/logo.png" alt="logo">
            </a>
        </div>
        <div class="header_search">
            <img  src="/web/static/icon/loupe.png" alt="Search" class="search-icon">
            <input type="search" placeholder="Search : Cat - X">
        </div>
        <div class="header_profile">
            <input type="checkbox" id="profile-toggle" class="profile-toggle" hidden>
            <label for="profile-toggle" class="profile-button">
                <img  src="/web/static/icon/profile.png" alt="profile"> 
            </label>
            <ul class="profile-dropdown">
                <li><a href="#" onclick="alert('This feature not ready');">Profile</a></li>
                <li><a href="#" onclick="alert('This feature not ready');">Premium</a></li>
                <li><a href="#" onclick="alert('This feature not ready');">User Settings</a></li>
            </ul>
        </div>
    </header>
    <main class="main-content">
        <div class="create-post">
            <div class="create-post-header">
              <h1>Create a post and choose your category </h1>
            </div>
            <div class="post-form">
              <div class="form-section">
                <select id="community" name="category">
                    {{range .Categories}}
                        <option value="category-{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            </div>
        </div>
    </main>
</body>
</html>