<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat - X</title>
  <link rel="stylesheet" href="../static/login.css">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
</head>
<body>
  <div class="page-container">
    <div class="image-container">
    </div>
    <div class="auth-container">
      <h2 class="form-title">Happening now</h2>
      <p class="form-subtitle">Join today : Cat - X </p>
      <div class="auth-actions">
        <button class="auth-action">Sign up</button>
        <button class="auth-action">Sign in</button>
      </div>
    </div>
  </div>
  <footer class="footer-dummy">
    <a href="#" onclick="alert('Autors: Janika Pruel && Daniil Mjodov'); return false;">About us</a>
    <a href="#" onclick="alert('Someday we will make it.'); return false;">Download the Cat - X app</a>
    <a href="#" onclick="alert('+372 58 317 117 - Daniil'); return false;">Help Center</a>
    <a href="#" onclick="alert('We will steal all your data '); return false;">Privacy Policy</a>
    <a href="#" onclick="alert('Sugar is bad for your health'); return false;">Cookie Policy</a>
    <a href="#" onclick="alert('https://github.com/Pruel'); return false;">Blog</a>
    <a href="#" onclick="alert('https://github.com/JanikaPruel'); return false;">Marketing</a>
    <a href="#" onclick="alert('Fake link for project'); return false;">Cat - X for Business</a>
    <a href="#" onclick="alert('Our team: BugMakers'); return false;">Developers</a>
  </footer>
</body>
</html>
